
ml-kit/LatihanCamera (text recognizer)/.idea/vcs.xml
ml-kit/LatihanCamera (text recognizer)/.idea/misc.xml
ml-kit/LatihanCamera (text recognizer)/.idea/kotlinc.xml
ml-kit/LatihanCamera (text recognizer)/.idea/gradle.xml
ml-kit/LatihanCamera (text recognizer)/.idea/deploymentTargetDropDown.xml
ml-kit/LatihanCamera (text recognizer)/.idea/compiler.xml
ml-kit/LatihanCamera (text recognizer)/.idea/.name
ml-kit/LatihanCamera (starter)/.idea/deploymentTargetDropDown.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification)/.idea/deploymentTargetDropDown.xml
