android-for-ml/LatihanMediaPlayer/.idea/.name
android-for-ml/LatihanMediaPlayer/.idea/compiler.xml
android-for-ml/LatihanMediaPlayer/.idea/gradle.xml
android-for-ml/LatihanMediaPlayer/.idea/jarRepositories.xml
android-for-ml/LatihanMediaPlayer/.idea/kotlinc.xml
android-for-ml/LatihanMediaPlayer/.idea/misc.xml
android-for-ml/LatihanMediaPlayer/.idea/other.xml
android-for-ml/LatihanMediaPlayer/.idea/vcs.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/vcs.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/other.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/misc.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/migrations.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/kotlinc.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/gradle.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/deploymentTargetDropDown.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/compiler.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/codeStyles/Project.xml
android-for-ml/TeoriMenggambarObjectDiCanvas/.idea/codeStyles/codeStyleConfig.xml
android-for-ml/final-project-online-image-classification/.idea/.name
android-for-ml/final-project-online-image-classification/.idea/compiler.xml
android-for-ml/final-project-online-image-classification/.idea/deploymentTargetDropDown.xml
android-for-ml/final-project-online-image-classification/.idea/gradle.xml
android-for-ml/final-project-online-image-classification/.idea/kotlinc.xml
android-for-ml/final-project-online-image-classification/.idea/migrations.xml
android-for-ml/final-project-online-image-classification/.idea/misc.xml
android-for-ml/final-project-online-image-classification/.idea/other.xml
android-for-ml/final-project-online-image-classification/.idea/vcs.xml
android-for-ml/starter-project-online-image-classification/.idea/misc.xml
ml-kit/LatihanCamera (text recognizer)/.idea/vcs.xml
ml-kit/LatihanCamera (text recognizer)/.idea/misc.xml
ml-kit/LatihanCamera (text recognizer)/.idea/kotlinc.xml
ml-kit/LatihanCamera (text recognizer)/.idea/gradle.xml
ml-kit/LatihanCamera (text recognizer)/.idea/deploymentTargetDropDown.xml
ml-kit/LatihanCamera (text recognizer)/.idea/compiler.xml
ml-kit/LatihanCamera (text recognizer)/.idea/.name
ml-kit/LatihanCamera (starter)/.idea/deploymentTargetDropDown.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/.name
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/compiler.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/deploymentTargetDropDown.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/gradle.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/kotlinc.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/misc.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/vcs.xml
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/.name
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/compiler.xml
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/deploymentTargetDropDown.xml
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/gradle.xml
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/kotlinc.xml
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/misc.xml
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/vcs.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/other.xml
tensorflow-lite/Latihan TensorFlow Lite (image classification - gpu)/.idea/migrations.xml
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/migrations.xml
tensorflow-lite/Latihan TensorFlow Lite (object detection)/.idea/other.xml
mediapipe/Latihan MediaPipe (image classification)/.idea/.name
mediapipe/Latihan MediaPipe (image classification)/.idea/compiler.xml
mediapipe/Latihan MediaPipe (image classification)/.idea/deploymentTargetDropDown.xml
mediapipe/Latihan MediaPipe (image classification)/.idea/gradle.xml
mediapipe/Latihan MediaPipe (image classification)/.idea/kotlinc.xml
mediapipe/Latihan MediaPipe (image classification)/.idea/misc.xml
mediapipe/Latihan MediaPipe (image classification)/.idea/vcs.xml
mediapipe/Latihan MediaPipe (image classification)/.idea/migrations.xml
tensorflow-lite/Latihan TensorFlow Lite (prediction)/.idea/gradle.xml
tensorflow-lite/Latihan TensorFlow Lite (prediction)/.idea/deploymentTargetDropDown.xml
mediapipe/Latihan MediaPipe (audio classification)/.idea/.name
mediapipe/Latihan MediaPipe (audio classification)/.idea/compiler.xml
mediapipe/Latihan MediaPipe (audio classification)/.idea/deploymentTargetDropDown.xml
mediapipe/Latihan MediaPipe (audio classification)/.idea/gradle.xml
mediapipe/Latihan MediaPipe (audio classification)/.idea/kotlinc.xml
mediapipe/Latihan MediaPipe (audio classification)/.idea/migrations.xml
mediapipe/Latihan MediaPipe (audio classification)/.idea/misc.xml
mediapipe/Latihan MediaPipe (audio classification)/.idea/other.xml
mediapipe/Latihan MediaPipe (audio classification)/.idea/vcs.xml
mediapipe/Latihan MediaPipe (text classification)/.idea/.name
mediapipe/Latihan MediaPipe (text classification)/.idea/compiler.xml
mediapipe/Latihan MediaPipe (text classification)/.idea/deploymentTargetDropDown.xml
mediapipe/Latihan MediaPipe (text classification)/.idea/gradle.xml
mediapipe/Latihan MediaPipe (text classification)/.idea/kotlinc.xml
mediapipe/Latihan MediaPipe (text classification)/.idea/migrations.xml
mediapipe/Latihan MediaPipe (text classification)/.idea/misc.xml
mediapipe/Latihan MediaPipe (image classification)/.idea/inspectionProfiles/Project_Default.xml
generative-ai/Latihan Generative AI (BERT QA) - start/.idea/vcs.xml
generative-ai/Latihan Generative AI (BERT QA) - start/.idea/misc.xml
generative-ai/Latihan Generative AI (BERT QA) - start/.idea/deploymentTargetDropDown.xml
generative-ai/Latihan Generative AI (BERT QA) - finish/.idea/vcs.xml
generative-ai/Latihan Generative AI (BERT QA) - finish/.idea/misc.xml
generative-ai/Latihan Generative AI (BERT QA) - finish/.idea/deploymentTargetDropDown.xml
generative-ai/Latihan Generative AI (Smart Reply) - starter/.idea/misc.xml
generative-ai/Latihan Generative AI (Smart Reply) - starter/.idea/gradle.xml
generative-ai/Latihan Generative AI (Smart Reply) - finish/.idea/misc.xml

tensorflow-lite/Latihan TensorFlow Lite (image classification)/.idea/

ml-kit/LatihanCamera (text recognition)/.idea/

ml-kit/LatihanCamera (starter)/.idea/

ml-kit/LatihanCamera (barcode scanning)/.idea/

ml-kit/LatihanCamera (translation)/.idea/

tensorflow-lite/Latihan TensorFlow Lite (prediction)/.idea/
